.caja {
    background-color: rgb(249, 249, 249);
  }
  
  .ancho-caja {
    width: 25%;
  }
  
  .margen {
    border-top: 1px solid rgb(206, 206, 206);
    display: flex;
    justify-content: space-between;
  }
  
  input {
    width: 100%;
  }
  
  .itm {
    font-size: 13px;
    display: flex;
    color: rgb(117, 117, 122);
  }
  .anm:hover {
    cursor: pointer;
    transform: scale(1.5);
  }
  .anm {
    transition: transform 0.2s;
  }
  .titulo {
    color: rgb(214, 182, 215);
    font-family: "Italiana", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .sombra {
    -webkit-box-shadow: -12px 11px 5px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -12px 11px 5px -5px rgba(0, 0, 0, 0.75);
    box-shadow: -12px 11px 5px -5px rgba(0, 0, 0, 0.75);
  }
  .delete {
    display: none;
  }
  .caja:hover > .margen > .delete {
    display: block;
    transition: all 2s ease-in-out;
  }
    .borde{
        border: none;
        border-radius: none;
    }  